
@{
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-page="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="Tracking">Tracking</a>
    </li>
</ul>