@page
@model IndexModel
@{
    ViewData["Title"] = "Home of Issue Tracking";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">JEFF WAS HERE</a>.</p>
</div>
